<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="Db_r4ad01" value="Data Source=r4ad01;Initial Catalog=miscdb;User ID=glconnect;Password=ledger;TrustServerCertificate=true;" />
		<add key="PathFile" value="D:\Project_FileTest\IPA\" />
	</appSettings>
</configuration>